/bootstrap/compiled.php
/vendor
/.idea
/build/*
!/build/settings
/app/config/local
composer.phar
composer.lock
.env.local.php
.env.production.php
.env.staging.php
.env.php
.DS_Store
Thumbs.db
/nbproject
/app/config/local
/log.txt
/public/cache/
/public/.htaccess
